.icon {
	display: inline;
	fill: $primary-color;
	height: 32px;
	width: 32px;

	// icons are assumed to be pointing up by default (if they have a direction)
	&.is-up {
	}

	&.is-right {
		transform: rotate(90deg);
	}

	&.is-down {
		transform: rotate(180deg);
	}

	&.is-left {
		transform: rotate(270deg);
	}

}