$dark-color:#000;
$mid-grey-color:#8a9ba4;
$light-grey-color:#bfc4c7;
$ligher-grey-color:#c8cdcf;
$very-light-grey-color:#f1f1f1;
$light-color:#fff;

$error-red:#f10b0b;

$primary-color:#ff0000;
$secondary-color:#00ff00;