$heading-primary-font:/*'CustomFont',*/ Arial, sans-serif;
$heading-secondary-font:/*'CustomFont',*/ Arial, sans-serif;

$body-primary-font:/*'CustomFont',*/ 'Times New Roman', serif;
$body-secondary-font:/*'CustomFont',*/ 'Times New Roman', serif;

/*@font-face {
  font-family: 'CustomFont';
  src: url('/fonts/CustomFont.woff2') format('woff2'),
       url('/fonts/CustomFont.woff') format('woff');
}*/