$heading-primary-font: Arial, sans-serif;
$heading-secondary-font: Arial, sans-serif;

$body-primary-font: 'Times New Roman', serif;
$body-secondary-font: 'Times New Roman', serif;

//@font-face {
//  font-family: 'CustomFont';
//  src: url('/fonts/CustomFont.woff2') format('woff2'),
//       url('/fonts/CustomFont.woff') format('woff');
//}